################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/EFCodeFirst.v11.suo
/packages/EntityFramework.5.0.0
/EFCodeFirst/bin/Debug
/EFCodeFirst/obj/Debug
